$minWidth: 320px;
// Ширина макета (ширина фрейма)
$maxWidth: 1920px;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1170px;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30px;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

$pc: $containerWidth; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S
