name: Deploy to VPS

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - run: yarn install --frozen-lockfile
      - run: yarn build
  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            DEPLOY_DIR=~/roulette-standof-front-admin
            BUILD_OUTPUT=dist
            PUBLIC_DIR=/var/www/roulette-standof-front-admin
            REPOSITORY=PROK0D/roulette-standof-front-admin

            # Clone repo if not exists
            if [ ! -d "$DEPLOY_DIR/.git" ]; then
              rm -rf $DEPLOY_DIR
              git clone https://${{ secrets.GH_PAT }}@github.com/$REPOSITORY.git $DEPLOY_DIR
            fi

            cd $DEPLOY_DIR
            git fetch origin
            git reset --hard origin/dev

            yarn install --frozen-lockfile
            yarn build

            # Ensure public dir exists and clean it
            sudo mkdir -p $PUBLIC_DIR
            sudo rm -rf $PUBLIC_DIR/*

            # Copy build to Nginx root dir
            sudo cp -r $BUILD_OUTPUT/* $PUBLIC_DIR/
            sudo chown -R www-data:www-data $PUBLIC_DIR
